@media (max-width: 300px) {

}

@media (max-width: 360px) {

}

@media(max-width: 550px) {

}
@media(max-width: 767px) {

}

@media(min-width: 350px) and (max-width: 767px){

}

@media(min-width: 400px) and (max-width: 550px){

}

@media(max-width: 990px){

}

@media(min-width: 768px) and (max-width: 990px){
    
}
@media(min-width: 991px) and (max-width: 1199px){
    
}
@media(min-width: 1200px) and (max-width: 1599px){
    
}
@media(min-width: 1600px){
    
}